WebContent/wsdl/UpdateTravService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.citsamex.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.citsamex.com" xmlns:intf="http://service.citsamex.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.citsamex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="updateSyncFlag">
    <complexType>
     <sequence>
      <element name="custno" type="xsd:string"/>
      <element name="system" type="xsd:int"/>
      <element name="flag" type="xsd:int"/>
      <element name="message" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateSyncFlagResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateSyncFlagRequest">

      <wsdl:part element="impl:updateSyncFlag" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateSyncFlagResponse">

      <wsdl:part element="impl:updateSyncFlagResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UpdateTravService">

      <wsdl:operation name="updateSyncFlag">

         <wsdl:input message="impl:updateSyncFlagRequest" name="updateSyncFlagRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateSyncFlagResponse" name="updateSyncFlagResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UpdateTravServiceSoapBinding" type="impl:UpdateTravService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="updateSyncFlag">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateSyncFlagRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateSyncFlagResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UpdateTravServiceService">

      <wsdl:port binding="impl:UpdateTravServiceSoapBinding" name="UpdateTravService">

         <wsdlsoap:address location="http://localhost:7080/mpp/services/UpdateTravService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
